* {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #011826;
}
body {
  background: url("../Images/te.jpg") fixed center;
      background-size: cover;
      height: 100%;
}
.corps {
  margin-top: 25px;
}
.carte {
  border-color: #55736D;
  background-color: #F0F0F2;
  margin-bottom: 10px;
}
.logo {
  color: #55736D;
  font-size: 75px;
  padding-top: 15px;
}
.bouton {
  color: #F0F0F2;
  font-weight: bold;
  border-color: #012623;
  background-color: #012623;
  border-radius: 25px;
}
.bouton:hover {
  transform: scale(1.1);
  border-color: #011826;
  background-color: #011826;
}
.bouton2 {
  color: #F0F0F2;
  font-weight: bold;
  border-color: #012623;
  background-color: #012623;
  border-radius: 25px;
  margin-left: 25px;
}
.bouton2:hover {
  transform: scale(1.1);
  border-color: #011826;
  background-color: #011826;
}
.social {
  background-color: #F0F0F2;
  border: 1px solid #55736D;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}
.icon {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.main {
  margin-top: 20px;
  background-color: #F0F0F2;
  border: 1px solid #55736D;
  border-radius: 5px;
}
.apropos {
  padding-top: 7px;
}
.projects {
  height: 99%;
}
.cardIcon {
  font-size: 80px;
  padding-top: 15px;
  color: #455925;
}
.alignerFooter {
  position: absolute;
  bottom: 7px;
  width: 80%;
  right: 10%;
}
.card-body > p.aligner {
  padding-bottom: 35px;
}
.aligner {
  text-align: left;
}
.alignerInv {
  text-align: right;
}
.footer {
  background-color: #012623;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}
.footerInt {
  display: inline;
  color: #F2F2F0;
}
.iconComp {
  font-size: 80px;
  padding-top: 2px;
  color: #8C8784;
}
.translator {
  font-size: 30px;
}
 /* Contact */
 .contactMail {
   background-color: #F0F0F2;
   border-radius: 5px;
 }
 .contactIcon {
   font-size: 50px;
 }
.alignerCentre {
  height: 100%;
  margin-top: 25%;
}
.alignerCentreText {
  margin-top: 10px;
}
